/*!
 * Copyright © 2022-2023, DCCTech, Hungary
 */

.cancel {
  background-color: rgb(255, 51, 51);
  color: white;
}

.input {
  width: 30vmax;
}

form {
  margin-left: 5vmin;
}

button {
  margin-top: 2vmin;
}

label {
  font-size: x-large;
  font-weight: bolder;
}
