/*!
 * Copyright © 2022-2023, DCCTech, Hungary
 */

:host {
  width: 100%;
  display: block;
}

.card {
  &:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  textarea {
    display: inherit;
    width: 100%;
    border: none;
    line-height: 18px;
    font-size: 14px;
    resize: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: -2px;
  }
}

.editcard:hover {
  background-color: #fff
}

#sortable {
  min-height: 1rem;

  div:first-child {
    margin-top: 1rem;
  }
}
